/* .post-header-info {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
} */

.app-icon img {
    width: 40px;
    height: 40px;
}

.app-details {
    margin-left: 10px;
}

.app-name,
.publish-date {
    margin: 0;
}


.post-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 600px;
    background-color: #333; /* Темно-серый цвет фона */
    border-radius: 10px; /* Закругленные края */
    color: #000; /* Черный цвет текста */
}
.default-post-image {
    max-width: 100%;
    height: auto;
}

.default-like-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.post-content {
    color: #eee8e8; /* Черный цвет текста */
}

.like-button {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff; /* Белый цвет текста */
}

.like-button::before {
    content: '\2665'; /* Код символа сердца в Unicode */
    font-size: 20px;
    margin-right: 5px;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info h3 {
    margin: 0;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-button,
.repost-button {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.views-count {
    margin: 0;
}

.comments-container {
    margin-top: 20px;
}