

 html, body, .container-fluid {
    height: 98%;
    padding:0px;
    margin:0px;
    width: 100%;
}

/* Карточка события */
.card-event {
    max-height: 150px;
}


/* Контейнер, содержащий блок с кнопкой для создания события */
.event-creation-button-container {
    /*margin-bottom: 20px;*/
    display: flex;
    justify-content: right;
}

/* Контейнер, содержащий кнопку для создания события */
.button-create-event{
    height: 40px;
    margin: 10px;
}

/* Контейнер, центральный блок событий*/
.event-container {
    width: 75%;
    border-radius: 15px;
    background-color: #3f4245;
    height: 80vh;
}

/* Контейнер, содержащий объединяющий все блоки событий*/
.block-events {
    display: flex;
    width: 100%;
    justify-content: center;
}

.list-of-events {
    padding: 0px 15px 0px 15px ;

}


/* Контейнер, содержащий блок с пагинацией для событий */
.pagination-of-events{
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
}


.footer{
    margin-top: 0px;
}