{% extends 'base.html' %}
{% block content %}
<div class="content" style="display: flex;
    flex-direction: column;
    justify-content: center;">
    <div class="list_of_maps" style="display:flex; justify-content: center;">
        <button type="button" class="btn btn-primary position-relative" style="margin: 20px 20px 0px 20px">
            Саранск
        </button>
        <button type="button" class="btn btn-primary position-relative" style="margin: 20px 20px 0px 0px">
            Владивосток
        </button>
        <button type="button" class="btn btn-primary position-relative" style="margin: 20px 20px 0px 0px">
            Бухта
        </button>
        <button type="button" class="btn btn-primary position-relative" style="margin: 20px 20px 0px 0px">
            Питерский аэрапорт
        </button>
        <button type="button" class="btn btn-primary position-relative" style="margin: 20px 20px 0px 0px">
            Московский аэрапорт
        </button>
        <button type="button" class="btn btn-primary position-relative" style="margin: 20px 20px 0px 0px">
            Центр Москвы
        </button>
    </div>

    <div class="map_and_map_parameters" style="margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;">
        <div id="map" style="width:1300px; height: 700px"></div>
        <div class="map_parameters"
             style="display: flex; flex-direction: column; justify-content: top; padding: 0px 20px 20px 20px;">
            <div class="requested_obj">
                <span class="badge bg-primary"
                      style="margin-bottom:15px; padding:20px;">Объекты для отображения на карте</span>
                {% for cur_class_object in class_objects %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ cur_class_object.value }}" name="requested_obj">
                        <label class="form-check-label" for="flexCheckAuto">
                            {{ cur_class_object.name }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>

<script>
    jQuery(document).ready(function () {
        var mapOptions = {
             center: [54.1874, 45.18388],
             zoom: 15,
             minZoom: 1,
             maxZoom: 24
        }

        var map = new L.map('map', mapOptions); // Creating a map object
        load_map(map);
    });
</script>
{% endblock content%}